h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Programme-Bold";
}
h1.slide__heading.main-heading {
    font-family: "OPTI-Bold";
}
a.navlink.navlink--toplevel {
    color: #fff;
}
search-popdown.search-popdown.menu__item.menu__item--icon {
    color: #fff;
}
svg.icon.icon-shopping-bag {
    color: #fff;
}
.navlink--toplevel>.navtext:before, .grandparent .navlink--child>.navtext:before,
.navlink--toplevel>.navtext:after, .grandparent .navlink--child>.navtext:after {
    background: #fff !important;
}
h1.page-title {
    text-transform: uppercase;
    font-size: 80px;
    font-family: "Programme-Bold";
}
input#searchInput-desktop {
    color: #000;
}

@media screen and (max-width: 768px) {
    h1.page-title {
        font-size: 50px;
    }
}

.product__subs__plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
label.product__subs__option {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px 20px !important;
}
.product__subs__option input[type=radio],
.product__subs__option input[type="radio"]:before,
.product__subs__option input[type="radio"]:checked:before {
  display: none;
}
label.product__subs__option:has(> input[type="radio"]:checked) {
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #fff;
}